<%- require("./_top.ejs")({
	header: require("/partials/site/header.ejs")({
		site_name: site.name,
		page,
		main_nav: header.main_nav.map(x => {
			return require("/partials/site/header-link.ejs")({
				...x,
				current_page: page
			})
		}).join('')
	})
}) %>

<% hero_src = typeof hero_src != "undefined" ? hero_src : ""; %>
<% pub_date = typeof pub_date != "undefined" ? pub_date : ""; %>
<% title = typeof title != "undefined" ? title : ""; %>

<main>
	<article>
		<div class="hero-image">
			<img width="1020" height="510" src="<%= hero_src %>" alt=""/>
		</div>
		<div class="prose">
			<div class="title">
				<div class="date">
					<%- pub_date %>
				</div>
				<h1><%- title %></h1>
				<hr/>
			</div>
			<%- content %>
		</div>
	</article>
</main>

<style>
	main {
		width: calc(100% - 2em);
		max-width: 100%;
		margin: 0;
	}

	.hero-image {
		width: 100%;
	}

	.hero-image img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
	.prose {
		width: 720px;
		max-width: calc(100% - 2em);
		margin: auto;
		padding: 1em;
		color: rgb(var(--gray-dark));
	}
	.title {
		margin-bottom: 1em;
		padding: 1em 0;
		text-align: center;
		line-height: 1;
	}
	.title h1 {
		margin: 0 0 0.5em 0;
	}
	.date {
		margin-bottom: 0.5em;
		color: rgb(var(--gray));
	}
	.last-updated-on {
		font-style: italic;
	}
</style>

<%- require("./_bottom.ejs")() %>